<div class="card" style="width: 18rem;">
  <div class="card-img-top p-2 bg-light fw-bold"> Catégories </div>
  <div class="card-body">
    <ul>
      <li>
        <a href="{{ path('admin_plates_index')}}">Liste des plats</a>
        
      </li>
      <li>
        <a href="{{ path('admin_plates_add')}}">Ajouter un plat</a>
      </li>
    </ul>
  </div>
</div>