{% block header %}
<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    spellcheck="false"
  >
    <img
      class="img-fluid logo w-50 ms-3"
      src="{{ asset('assets/img/logo.png') }}"
      alt="Logo du site"
    />
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 link-warning fs-4">Accueil</a></li>
    <li>
      <a href="/le-restaurant" class="nav-link px-2 link-warning fs-4">Le restaurant</a>
    </li>
    <li><a href="/la-carte" class="nav-link px-2 link-warning fs-4">Menu</a></li>
    <li><a href="/contact" class="nav-link px-2 link-warning fs-4">Contact</a></li>
  </ul>


  <div class="col-md-3 me-3 text-end">
        
    {% if app.user %}
    <div class="dropdown text-end">
      <a class="dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      </a>
      <ul class="dropdown-menu text-small">
        <li><a href="#" class="dropdown-item">Mon compte</a></li>
        <li><a href="/" class="dropdown-item">Reserver une table</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a href="{{path('app_logout')}}" class="dropdown-item">Me déconnecter</a></li>
      </ul>
      
    </div>
      
      
    {% else %}
      <a href="{{path('app_login')}}"><button type="button" class="btn btn-warning mb-2">Reserver une table</button></a> 
    {% endif %}
  </div>
</header>
{% endblock %}
