{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('admin')}}
{% endblock %}

{% block body %}
    <div class="container dashboard">
      <h1>Administration</h1>
        <div class="row grid">
            {% include "_partials/_adminNav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                
            </main>
        </div>
    </div>
{% endblock %}
