main {
  //---------------------------------//
  //----- SCSS sur le Dashboard -----//
  .dashboard{

    margin-top: 20px;

    h1 {
      font-family: 'font3';
      text-align: center;
    }

    .btn-nav {
      margin-bottom: 10px;
    }
    .btn-actions {
      margin-bottom: 0;
    }

  }
  //---------------------------------//
  //---------------------------------//
  
}